div.title-box
    img(src="logo.png")
    div
        h1 vfy-yt
        nav
            a(href="/") Startpage
            a(href="/about") About
            a(href="https://vivekfy.netlify.app/" target="_blank" rel="noopener")VFY
