extends _layout

block content
    div.center
        h1 vfy
        h2 feach Video and Audio Tracks + Thumbnails

        form
            input(type="url" placeholder="vfy_Paste a Yt video url" name="url")
            button Fetch
